{% extends 'base.html' %}

{% block content %}

<h2 class="text-center">Add Doctor</h2>

<form method="POST" onsubmit="return validateForm()" class="card p-4 shadow">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="Doctor Name" required>
    </div>

    <div class="mb-3">
        <input type="text" name="specialty" class="form-control" placeholder="Specialty" required>
    </div>

    <div class="mb-3">
        <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
    </div>

    <div class="mb-3">
        <input type="email" id="email" name="email" class="form-control" placeholder="Email">
    </div>

    <button class="btn btn-success w-100">Add Doctor</button>
</form>

{% endblock %}
